<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      {{#each comfortStation}}
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">{{this.Prop_Name}}</h5>

          {{!-- <p>
            <strong>Name</strong>: {{this.Prop_Name}}</p>
          <p> --}}
          <p>
            <strong>Location</strong>: {{this.GIS_Site_Location}}</p>
          <p>
            <strong>Zip Code</strong>: {{this.ZipCode}}</p>
            <ul class="d-inline-block" style="padding-left: 0">
              <li class="d-inline-block tiny">
                <img src = "/assets/toilet_icon.jpg" style="height: 2em">
                Toilet(s): {{this.facilities.0.urinalsMax}}    </li>
              <li class="d-inline-block tiny">
                <img src = "/assets/urinal_icon3_adj.png" style="height: 2em">
                Urinal(s): {{this.facilities.0.toiletsMax}}    </li>
              <li class="d-inline-block tiny">
                <img src = "/assets/baseline-child_friendly-24px.svg" style="height: 2em">
                Changing tables: {{this.facilities.0.changingTablesMax}}</li>
              <li class="d-inline-block tiny">
                <img src = "/assets/baseline-feedback-24px.svg" style="height: 2em">
                <button type="button" class="btn-link rate-btn" data={{this.Prop_ID}}>Rate this station</button></li>
            </ul>
          <div class="inspectionContainer">
          {{#each this.inspections}}
            <ul class="inspList">
              <strong>{{this.Insp_Date}}:</strong>
              <li class="d-inline-block inspList">Men/Women: {{this.MW}} | </li>
              <li class="d-inline-block inspList">Overall: {{this.OvCond}} | </li>
              <li class="d-inline-block inspList">Cleanliness: {{this.Cleanliness}} | </li>
              <li class="d-inline-block inspList">Safety: {{this.Safety_Confition}} | </li>
              <li class="d-inline-block inspList">Visitors: {{this.Visitor_Count}}</li>
            </ul>
            {{/each}}
          </div>
          <div>
            {{!-- <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-74.00508105754854%2C40.74890288790931%2C-73.99955570697786%2C40.751154284915636&amp;layer=mapnik" 
            style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=18/40.75003/-74.00232">View Larger Map</a></small> --}}
          </div>
          {{!-- https://www.openstreetmap.org/search?query=chelsea+park+10001 --}}
          <a href="/">← Back To Home</a></li>
        </div>
      </div>
    {{/each}}
    </div>
  </div>
</div>
